<form class="container" (submit)="onRegisterSubmit()">
  <h2 class="page-header">Register</h2>
  <div class="form-group">
    <label>Email</label>
    <input type="text" [(ngModel)]="email" name="email" class="form-control">
  </div>
  <div class="form-group">
    <label>Work Address</label>
    <input type="text" [(ngModel)]="address" name="address" class="form-control">
  </div>
  <div class="form-group" id="checklist">

    <div class="contain">
      <label class="container">One
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>

      <label class="container">Two
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="container">Three
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="container">Four
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="contain">
      <label class="container">One
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>

      <label class="container">Two
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="container">Threeeee
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="container">Four
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="text" [(ngModel)]="password" name="password" type="password" class="form-control">
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="text" [(ngModel)]="confirmPassword" name="confirmPassword" type="password"  class="form-control">
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
</form>
